 <h1 class="titulo">SSD</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_612238-MLU75436662346_042024-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Ssd 500gb Western Digital Disco Duro Solido 2.5 Laptop Pc.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://microglobalpromos.com.ar/2022/img/092022/SNV2S-500G_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco Solido Interno Kingston 500GB NV2 PCIE NVME M2 </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_Q_NP_646272-MLA40283983443_122019-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco sólido interno Western Digital WD Green WDS100T3G0A 3 1TB verde</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://www.comeros.com.ar/wp-content/uploads/2020/02/ktc-product-ssd-kc600-1024gb-3-zm-lg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">DISCO SSD 1TB KINGSTON KC600 SATAIII 2.5</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.malditohard.com.ar/wp-content/uploads/product/13/imagen_2024-06-26_181836125.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco Ssd M.2 1Tb Patriot P300 2280 Pcie Gen3 X4</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://dcdn.mitiendanube.com/stores/001/897/718/products/disco-ssd-hp-500gb-s700-2-5-b5619302b571c435d816994519311258-240-0.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">DISCO SSD HP 500GB S700 2.5</p>
          </div>
        </div>
      </div>

    <h2 class="razer">HDD</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_772890-MLA41241945171_032020-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco duro interno Western Digital WD Caviar Blue WD5000AAKX 500GB azul</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://images.fravega.com/f300/db9477384291c1d055b5ababe4fd1ddb.jpg.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco Duro Interno Seagate 500gb 3.5 Sata Ill</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_916525-MLU72772403290_112023-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco Duro Interno Wd 2.5in 500gb Hdd Sata </p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://fullh4rd.com.ar/img/productos/12/disco-hdd-1tb-sata3-wd-purple-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">DISCO HDD 1TB SATA3 WD PURPLE</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOAC9zZu5DcNAUaP1P0IpxItAOgSZRjlNhoQ&s  " alt=""> 
          <div class="card-body">
            <p class="card-text">Disco Hdd 1tb Barracuda Seagate</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://compuvip.com.ar/wp-content/uploads/2020/12/image.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Disco Rigido HDD Western Digital Blue 1TB 3.5</p>
          </div>
        </div>
      </div>
      