<h1 class="titulo">HYPEREX</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Auricular-Gamer-HyperX-Cloud-III-Negro_47253_1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auricular Gamer HyperX Cloud III Negro</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/OagUuGAbQxqQvspj30fI/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares HyperX Cloud Stinger Core 7.1</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6wesE4Zzp_EikaAuL_96eryZxjPo1Z8KAig&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares Inalambricos Hyperx Cloud Flight</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://row.hyperx.com/cdn/shop/products/hyperx_cloud_alpha_s_blackblue_2_detachable_2048x2048.jpg?v=1662567757" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares gaming USB Cloud Alpha S </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://i5.walmartimages.com/seo/HyperX-Cloud-II-PC-Gaming-Headset_11acc141-23d4-441a-9639-2f9848913446_1.fbf36402033a03c48fc26efc5831db70.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">HyperX Cloud II</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.cdmarket.com.ar/image/0/1000_1300-336173.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Gamer Cooler Master Masterbox Mb320</p>
          </div>
        </div>
      </div>

    <h2 class="razer">LOGITECH</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/MFHc9A3cokwdPi7SXRRi/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares Logitech G332</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2zRG_ba0oYg2Neu8o3SJ3nlf5AIk9vMvEMQ&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auricular Inalámbrico Gamer Logitech G733</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/nr9CHMxZBsfXPMxr3tgX/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares Logitech G432 7.1</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://arrichetta.com.ar/wp-content/uploads/2021/07/981-000889-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares Logitech Gaming G733</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.armytech.com.ar/2040-thickbox_default/auriculares-logitech-h390-stereo-negro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auriculares Logitech H390 Stereo Negro</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.xt-pc.com.ar/img/productos/28/AUI124.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">AURICULAR C/MIC WIRELESS LOGITECH G535</p>
          </div>
        </div>
      </div>