<h1 class="titulo">REDRAGON</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_946175-MLA48125120743_112021-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente Pc Redragon 850w 80 Plus</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://gztienda.com.ar/img/Public/1116-producto-redragon-rgps-500w-80-plus-bronze-1-3049.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente REDRAGON RGPS 500W 80+ BRONZE</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://gztienda.com.ar/img/Public/1116-producto-9892-9967.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente REDRAGON RGPS 600W 80+ BRONZE</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://gztienda.com.ar/img/Public/1116-producto-redragon-rgps-500w-80-plus-bronze-1-3049.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente REDRAGON RGPS 500W 80+ BRONZE</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://img.terabyteshop.com.br/archive/1023399984/HTML%20Fonte%20Redragon%20RGPS%20500W%20-%201.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fonte Redragon RGPS 500W, 80 Plus Bronze</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://compucordoba.com.ar/img/Public/1078-producto-fuente-redragon-850w-80-gold-gcps010-01-2953.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">FUENTE REDRAGON 850W Modular 80+ GOLD</p>
          </div>
        </div>
      </div>

    <h2 class="razer">CORSAIR</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://hard-digital.com.ar/public/files/Fuente%20Corsair%20550w%20Cv550%2080%20Plus%20Bronze%20Negro/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente Corsair 550w Cv550 80 Plus Bronze</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_903182-MLA52957825960_122022-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Corsair CX-M Series CX750M 750W </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://app.contabilium.com/files/explorer/7026/Productos-Servicios/concepto-11783882.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente 850w 80+ Gold</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_712530-MLA45975469670_052021-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente de alimentación para PC Corsair RMx Series RM1000x 1000W</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://i0.wp.com/hardcorecomputacion.com.ar/wp-content/uploads/2022/01/CP-9020188-NA-Gallery-RMx-White-850-01.jpg?fit=1200%2C1200&ssl=1" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Fuente Corsair RM850X White 80+Gold</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO45r35PY-nsYXbQmTNeZm2hGOLOZFrz2ueQ&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> Fuente Corsair 750w</p>
          </div>
        </div>
      </div>