<h1 class="titulo">COOLER MASTER</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://mla-s1-p.mlstatic.com/787691-MLU73707070758_012024-F.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Cooler Master Masterbox H500m </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm0hxoDP9q68DblJJ8FXAuOINmhD_lWjNOuA&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Cooler Master Q300L V2 Rainbow</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_846024-MLU70742924239_072023-C.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Cooler Master Atx</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://fullh4rd.com.ar/img/productos/6/gabinete-coolermaster-haf-700-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">GABINETE COOLERMASTER HAF 700</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://katech.com.ar/wp-content/uploads/GAB393-jpg.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">GABINETE COOLERMASTER TD300 MESH</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.precio-calidad.com.ar/wp-content/uploads/2022/03/MCB-B320L-KGNN-S02-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Gamer Cooler Master Masterbox Mb320</p>
          </div>
        </div>
      </div>

    <h2 class="razer">SENTEY</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://spacegamer.com.ar/img/Public/1058/44239-producto-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Gamer Sentey X10</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_978048-MLU72575033044_112023-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Sentey F10 Gamer</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.computershopping.com.ar/Images/Productos/Grandes/CS3-1356-CB_Foto0g.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Sentey G18</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFchwkiTI4C64oWmZ4P2Yi6dDiMS1GXUMBA&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">GABINETE SENTEY STEALTH GS-6008</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://gorilagames.com/img/Public/1019/49915-producto-gabinete-sentey-t20-rgb-lateral-vidrio-4-fan-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Sentey T20 </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://axa.com.ar/webaxa/30212-medium_default/gabinete-sentey-g50-power-kit-con-fuente-np500-fc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Sentey G50</p>
          </div>
        </div>
      </div>