<div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/portada.jpg" class="d-block w-100" alt="...">
          </div>
      </div>
    
      <h1 class="titulo">LO MAS VENDIDO</h1>
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://m.media-amazon.com/images/I/61UxfXTUyvL._AC_SL1500_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Logitech G205</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lawgamers.com/wp-content/uploads/2024/01/Procesador-AMD-Ryzen-5-3600-3.6GHz-SOCKET-AM4-3a-GEN.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador AMD Ryzen 5-3600 3.6GHz</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Procesador-Intel-Core-i7-14700K-5-Ghz-Raptor-Lake-1700-Sin-Cooler_47087_1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Intel Core i7-14700K 5 Ghz</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://mla-s1-p.mlstatic.com/830248-MLA44537046862_012021-F.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Auricular Gamer Inalámbrico Logitech G G733</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://fullh4rd.com.ar/img/productos/2/mother-asus-prime-b550plus-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Mother Asus Prime B550plus</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://spacegamer.com.ar/img/Public/1058/44239-producto-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Gabinete Gamer Sentey X10</p>
          </div>
        </div>
      </div>

      <h2 class="subtitulo">SERVICIO TECNICO</h2>
      <div class="container" style="display: flex; gap: 20px;" id="ServicioTecnico">
        <!-- Párrafo -->
        <div class="servicio_tecnico">
          <p>
          Diagnostico:
          Identificación y resolución de problemas físicos. Esto implica reemplazo de piezas, limpieza de componentes internos y reparación de circuitos.
          Mantenimiento preventivo:
          <br>
          Servicios regulares como limpieza interna de componentes, actualización de controladores .<br>
          <br>
          Instalación y actualización de software:
          Asistencia para instalar sistemas operativos, programas y actualizaciones de software. Esto incluye la eliminación de software malicioso, instalación de aplicaciones de seguridad y optimización del sistema.<br>
          <br>
          Recuperación de datos:
          En caso de pérdida de información, recuperar datos de discos dañados o inaccesibles mediante el uso de software especializado.<br>
          <br>
          Soporte remoto y asesoramiento:
          Asistencia técnica de manera remota para problemas menores, así como consultas para mejorar el rendimiento de los equipos.<br>
          <br>
          </p>
        </div>
        
        <!-- Formulario -->
        <div>
          <h2>Contáctanos</h2>
          <form class="row g-3" action="/"  method="post" >
            <div class="col-12" class="contacto">
              <label for="email" class="form-label" style="color: #44a86e ;">Correo</label>
              <input type="email" class="form-control" id="email" placeholder="usuario@email.com"  name="mail">
            </div>
            <div class="col-12">
              <label for="tel" class="form-label"  style="color: #44a86e ;">Teléfono</label>
              <input type="text" class="form-control" id="tel" placeholder=""  name="tel" >
            </div>
            <div class="col-12">
              <label for="mensaje" class="form-label" style="color: #44a86e ;">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="3"  name="mensaje"    ></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Enviar</button>  
          </form>
            {{message}}
        </div>
      </div>
    </div>


    <div class="col-md-4 offset-md-2">
      <h2 class="visitanos">Visítanos</h2>
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210032.13775542338!2d-58.69446244931477!3d-34.66096172457689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1731345906505!5m2!1ses-419!2sar"></iframe>"></iframe>
      </div>
    </div>
