<h1 class="titulo">ASUS</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_865300-MLU70743000283_072023-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Asus Prime H510m K R2.0 Intel 10ma 11va Lga1200 Color Negro</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_645944-MLA74129732817_012024-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Asus Prime H610m-k Ddr4 1700 12°gen 2 Color Negro</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.venex.com.ar/products_images/1603824949_p_setting_fff_1_90_end_600.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Asus Prime A520M-K AM4</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_646460-MLA74885140133_032024-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Asus Rog Strix Z390-e Gaming Motherboard Lga1151</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://spacegamer.com.ar/img/Public/1058/producto-1-1003.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Asus Prime B760M-A D4 DDR4</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://acdn.mitiendanube.com/stores/002/787/742/products/41364-51-5f397b2d272f1bb18516778468765332-1024-1024.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Asus Prime Z590-P</p>
          </div>
        </div>
      </div>

    <h2 class="razer">GIGABYTE</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_934220-MLU74958546991_032024-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Gigabyte H470m H Intel 10ma Gen 10 Lga1200</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSARmYj570N4bW4vfRrSjjzpGalTuEX1eQVgA&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Gigabyte H510m H Lga 1200 11va Gen Ddr4</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_781467-MLA49390014515_032022-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard H610m S2h Ddr4 Gigabyte Intel S1700</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://spacegamer.com.ar/img/Public/1058-producto-00151-a52826a8c12c9c7bb616192918675882-1024-1024-1513.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Gigabyte B450 Gaming M</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_893852-MLU69137609351_042023-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Tarjeta Madre Gigabyte H310 Motherboard Socket 1151 Inte /vc</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mla-s1-p.mlstatic.com/883865-MLA70058574910_062023-F.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Motherboard Gigabyte Ga-a320m-s2h V2 Am4 Ryzen 3200g 3400g</p>
          </div>
        </div>
      </div>
      