<h1 class="titulo">AMD</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Procesador-Amd-Ryzen-5-8500G-5-Ghz-AM5_47153_1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador Amd Ryzen 5 8500G 5.0 Ghz</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://outtec.com.ar/wp-content/uploads/2024/01/000000000001330487341ryzen-7-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador AMD Ryzen 7 5700X 8 Cores 4.6GHz</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.venex.com.ar/products_images/1655397661_dfgdfg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Microprocesador CPU AMD Ryzen 3 4100 4.0Ghz Zen2</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://static.nb.com.ar/i/nb_procesador-amd-am4-ryzen-3-3200g_size_h680_c39621c8b7d6496567406e7e63e164c9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador Amd (am4) Ryzen 3 3200g </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://wallnet.com.ar/wp-content/uploads/2022/03/Procesador-AMD-Ryzen-5-5600G-5gen-AM4-CON-VIDEO0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador AMD Ryzen 5 5600G 5gen AM4</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Procesador-Amd-Ryzen-5-4600G-Ghz-AM4_43031_1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Procesador Amd Ryzen 5 4600G 4.2 Ghz - AM4</p>
          </div>
        </div>
      </div>

    <h2 class="razer">INTEL</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTE535xzB4GD5OplZ_UGAWDFme8s7mS4Al3rtQhMzVCpIhV7If8LqG-u_T9Ic6kZS38EFs4lq9GF6nNDqrWmwiamNOODbLjajCegLOtSISNOpvKMoRSMVhA&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Micro Procesador Intel Core I5 10400f 4.3ghz 10ma Gen</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQZBmUWX_oEgiWKq0zg9zpc6mxqSN5-7izp3_J6FlDWZk1BM7fpDzZ77l5NXtLgVqWdqgT2k5RlgphWEWYr0xkqYIwcNvzIaPlFH-0ajWcKf-NWdhwZ39n6&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Microprocesador Intel Core I7-14700</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRPdsJAnH1ogPJQ8evPrcl99RIXNJ4yhUOI9h-nhLSYaDyleTNMKCvBeosvpiSORPR-XrouUiIWqYKNp0NnWYZuZNh4_G_xRCrP4xubxLspRRW6hRzq0JWNPeQ&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Intel Celeron G5905</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQvnuzYNooXUZdkYc5J2CDLDZn4PxDEkAPp3LxJ_QBJUarCgyOPCm4EaK8SiKdnL-RHfMdxC9KBp3jq-HDiErbL6T9Zd4W697c6W5m9iCc&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">i3-13100F</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTcGDwt_vdV2zr_D-n2j8685n_sZP-eq5aPbPwfUwh1OMQ7vhxYF1OOPZMSGpMybdXsiy5fz5v0q7zJ1BUHHr2OSfpwY7Ma5FXmLtQlVqkKPIoRniNmR7zhADs&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Intel Core I3 10100F</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTDPN4mpPfERs3sq-MX1QiLIOIQLwchI60zIuxyKa5E1acXwM9j9esbdRMDi-oszISLlzJaglIwrrW852zqzdEPv42FnwK9yjZWpm_4rQB95ktczMtGMWnfaA&usqp=CAE" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"> Intel Core I5 9400f 4.1ghz</p>
          </div>
        </div>
      </div>