 <h1 class="titulo">KINGSTON</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Memoria-Ram-DDR4-16Gb-3600-Mhz-Kingston-Fury-Beast_42711_4.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria Ram DDR4 - 16Gb 3600 Mhz Kingston Fury Beast</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/DNvSEm9o9X9GSO8SISok/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria RAM Kingston 8GB DDR4 3200Mhz Fury</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://app.contabilium.com/files/explorer/48428/Productos-Servicios/concepto-14234933.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria Ram Kingston Fury Beast Ddr4 8gb 3200mhz Rgb </p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://mla-s1-p.mlstatic.com/996706-MLA73686985449_122023-F.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria Pc Kingston Ddr4 16gb 3200mhz Kvr32n22s8/16 Bulk </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/DrBoKGWegDCbpjRjDW4c/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria RAM Kingston 8GB DDR4 3200Mhz Fury Beast RGB</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Memoria-Ram-DDR4-8Gb-3200-Mhz-Kingston-Value_40364_1.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">MEMORIA RAM DDR4 8GB 3200 MHZ KINGSTON VALUE</p>
          </div>
        </div>
      </div>

    <h2 class="razer">CORSAIR</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://spacegamer.com.ar/img/Public/1058/61302-producto-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria Ram Corsair 16Gb 2x8Gb 3600Mhz Ddr4 Vengeance Pro Rgb</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mexx-img-2019.s3.amazonaws.com/memoria-corsair-rgb-gamer_41134_3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria Ram DDR4 - 16Gb 2x8 3200 Mhz Corsair Vengeance Rs Rgb</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/KoNfvGFeErdvrChxb9kx/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria RAM Corsair 16Gb DDR4 3000MHz Vengeance</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/zf3E3cukFzMO9UTgPSmJ/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria RAM Corsair 8GB DDR4 3200Mhz Vengeance RGB Pro</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.maximus.com.ar/Temp/App_WebSite/App_PictureFiles/Items/CMK32GX5M1B5600C40_800.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Memoria RAM Corsair Vengeance Black 32GB 5600 Mhz DDR5 </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.mink.com.ar/qloud/ryr/fotos/872-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">MEMORIA RAM DDR4 8GB 2400MHZ CORSAIR VALUE</p>
          </div>
        </div>
      </div>