<h1 class="titulo">HYPEREX</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_676910-MLA46555730846_062021-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado Gamer Hyperx Alloy Origins 60 Mecanico</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://i0.wp.com/hardcorecomputacion.com.ar/wp-content/uploads/2020/06/hx-product-keyboard-alloy-core-rgb-hxkb5me2latam-1-zm-lg.jpg?fit=1004%2C1004&ssl=1">
          <div class="card-body">
            <p class="card-text">Teclado HyperX Alloy Core RGB Membrana</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://fullh4rd.com.ar/img/productos/8/teclado-mecanico-hyperx-alloy-origins-pbt-switch-hx-blue-639n4aaabm-0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">TECLADO MECANICO HYPERX ALLOY ORIGINS </p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://i0.wp.com/hardcorecomputacion.com.ar/wp-content/uploads/2024/01/hyperx_alloy_origins_60_pink_english_us_2_angled_left_900x.jpg?fit=900%2C900&ssl=1" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado HyperX Alloy Origins 60 Pink</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://http2.mlstatic.com/D_NQ_NP_794105-MLA43872486880_102020-O.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado Mecanico Hyperx Alloy Fps Cherry Mx Blue Brown Red</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://tiendadiggit.com.ar/web/image/product.image/6816/image_1024/TECLADO%20GAMER%20HYPERX%20ALLOY?unique=4c7972d" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado Alloy HyperX Gamer</p>
          </div>
        </div>
      </div>

    <h2 class="subtitulo">REDRAGON</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://hard-digital.com.ar/files/Teclado%20Mecanico%20Redragon%20Kumara%20Rgb%20Blanco%20Switch%20Blue/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado Mecanico Redragon Kumara Rgb Blanco Switch Blue</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mundofixar.vtexassets.com/arquivos/ids/2498230/Teclado-Gamer-Redragon-K552-Kumara-RGB-ES-Negro-Switches-Red-USB-2.jpg?v=638562149155930000" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Teclado Gamer Redragon K552 Kumara RGB ES Negro Switches Red USB</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.simm.com.ar/Temp/App_WebSite/App_PictureFiles/ItemImages/2560_800.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">TECLADO - REDRAGON - K587 MAGIC-WAND</p>
          </div>
        </div>
      </div>
