<h1 class="titulo">NVIDIA</h1>
    
      <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://www.maximus.com.ar/Temp/App_WebSite/App_PictureFiles/Items/912-V510-400.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa de Video MSI Nvidia Geforce RTX 4090</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://s3-sa-east-1.amazonaws.com/saasargentina/8m7mJmXpeyX7oqafAi5o/imagen" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa de Video Gigabyte NVIDIA GeForce RTX 4070</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.venex.com.ar/products_images/1718715243_verntus-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video MSI Nvidia Geforce RTX 4060 Ti Ventus 2X Black 8Gb OC GDDR6</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://www.venex.com.ar/products_images/1721310762_asus-1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Asus Nvidia Geforce RTX 3050 Dual 06G OC D6</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lezamapc.com.ar/49268-large_default/placa-de-video-gigabyte-nvidia-geforce-gtx-1650-4gb-ddr6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PLACA DE VIDEO GIGABYTE NVIDIA GEFORCE GTX 1650 4GB DDR6</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.laeditorial.com.ar/25805-large_default/placa-de-video-nvidia-geforce-msi-rtx2060-6gb-ventus.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Nvidia Geforce Msi Rtx2060 6gb Ventus</p>
          </div>
        </div>
      </div>

    <h2 class="subtitulo">AMD</h2>
    <div style="display: flex;">
        <div class="card" style="width: 18rem;">
          <img src="https://www.maximus.com.ar/Temp/App_WebSite/App_PictureFiles/Items/90YV0JZ0-M0A_800.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa de Video Asus AMD Radeon RX 7700 XT Dual 12GB GDDR6</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://www.malditohard.com.ar/wp-content/uploads/product/3/GPU223.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Amd Rx 6500 Xt </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mauricomputacion.com.ar/images/productos/23442.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Amd Msi Radeon Rx 6600 Mech 2x 8gb Gddr6</p>
          </div>
        </div>
      </div>

      <div style="display: flex;"  class="vendidos_2">
        <div class="card" style="width: 18rem;">
          <img src="https://www.malditohard.com.ar/wp-content/uploads/product/3/GPU042.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Amd Rx 5700 Xt 8Gb Asus Strix Oc</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://mla-s1-p.mlstatic.com/901368-MLU74861237159_032024-F.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Placa De Video Asus Tuf Gaming Rx 7900 Xtx 24gb Oc Edition</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM6m1mteYSUZoLqPElITvR5cILWAdUtvATSw&s" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PLACA DE VIDEO RADEON RX 7600 8GB GIGABYTE GAMING OC</p>
          </div>
        </div>
      </div>